:root {
  --Background: #f0f4f8; /*(Very Light Blue-Gray) */
  --Primary: #3f88c5; /* (Sky Blue) */
  --Accent: #3f5767; /* (Darker Blue) */
  --Text: #333333; /*(Dark Gray) */
  --Highlight: #e6f2f8; /* (Very Light Aqua) */
  --Body-font: "Quicksand", sans-serif; /* (Modern Sans-Serif) */
  --Header-font: "Karla", sans-serif; /* (Bold Sans-Serif) */
  --margin-size: 3rem; /* (Consistent Margin Size) */
}

/*  general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Background);
  color: var(--Text);
  font-family: var(--Body-font);
}

h1,
h2,
h3 {
  font-family: var(--Header-font);
  color: var(--Primary);
}

.custom-button {
  background-color: var(--Accent);
  color: var(--Highlight);
}

.custom-button:hover {
  border: 1px solid var(--Accent);
  color: var(--Accent);
}

/* Nav bar */

.navbar {
  background-color: var(--Accent);
}

.nav-link,
.navbar-brand,
.navbar-toggler {
  color: var(--Highlight);
}

.navbar .active {
  color: var(--Highlight) !important;
  font-weight: bold;
}

/* header */

header {
  position: relative;
  text-align: center;
  margin-bottom: var(--margin-size);
}

header h1,
header h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 2;
}
header h1 {
  top: 35%;
  font-size: 2.5rem;
}
header h2 {
  top: 55%;
}

/* Main  */

.section-heading {
  margin-bottom: var(--margin-size);
}

/* common issues section*/

#common-issues .card-body {
  height: 160px;
}

#common-issues .card {
  margin-bottom: var(--margin-size);
}

#common-issues .card > img {
  width: 100%;
  height: 100%;
}

#common-issues .blockquote {
  margin-bottom: var(--margin-size);
  color: var(--Accent);
  border: var(--Primary);
  border-radius: 0.5rem;
  box-shadow: var(--Primary) 0px 4px 8px;
  max-width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: var(--margin-size);
}

/* depression card */
.depression-text-2 {
  display: none;
}

.depression-card:hover .depression-text-2 {
  display: block;
}
.depression-card:hover .depression-text-1 {
  display: none;
}

/* anixety card */

.anixety-text-2 {
  display: none;
}

.anixety-card:hover .anixety-text-2 {
  display: block;
}
.anixety-card:hover .anixety-text-1 {
  display: none;
}

/* lonely card */

.lonely-text-2 {
  display: none;
}

.lonely-card:hover .lonely-text-2 {
  display: block;
}
.lonely-card:hover .lonely-text-1 {
  display: none;
}

/* stress card */

.stress-text-2 {
  display: none;
}

.stress-card:hover .stress-text-2 {
  display: block;
}
.stress-card:hover .stress-text-1 {
  display: none;
}

/* panic card */

.panic-text-2 {
  display: none;
}

.panic-card:hover .panic-text-2 {
  display: block;
}
.panic-card:hover .panic-text-1 {
  display: none;
}

/* low self-esteem */

.self-esteem-text-2 {
  display: none;
}

.self-esteem-card:hover .self-esteem-text-2 {
  display: block;
}
.self-esteem-card:hover .self-esteem-text-1 {
  display: none;
}

/* Managing stresss */

#managing-stress-carousel {
  border-radius: 0.5rem;
  box-shadow: var(--Primary) 0px 4px 8px;
  min-height: 15rem;
  margin-bottom: var(--margin-size);
}

#managing-stress .carousel-item > p {
  margin: 9% 8%;
}

#managing-stress .carousel-item > h3 {
  margin-top: 3%;
}

#managing-stress .carousel-control-next,
#managing-stress .carousel-control-prev,
#managing-stress .carousel-indicators {
  filter: invert(100%);
}

#managing-stress .carousel {
  height: 350px;
}

/* footer */
footer {
  background-color: var(--Accent);
  color: var(--Highlight);
  padding: 1rem;
  text-align: center;
}

.fa-brands {
  color: var(--Highlight);
  margin: 0 0.2rem;
}

/* contact form */

.contact-form {
  margin-top: var(--margin-size);
}

.contact-form .custom-button {
  margin-top: var(--margin-size);
}

/* media */

@media screen and (max-width: 600px) {
  header h1 {
    top: 25%;
    font-size: 1.5rem;
    padding: 0 0.5rem;
  }
  header h2 {
    top: 45%;
    font-size: 1rem;
    padding: 0 0.5rem;
  }
}

@media screen and (min-width: 768px) {
  /* makes all the cards the same height */
  #common-issues .card-body {
    height: 270px;
  }
}

/* large devices 992px */
@media screen and (min-width: 992px) {
  /* makes all the cards the same height */
  #common-issues .card-body {
    height: 200px;
  }
}

/* extra large devices 1200px */
@media screen and (min-width: 1200px) {
  /* makes all the cards the same height */
  #common-issues .card-body {
    height: 250px;
  }
  #managing-stress .carousel-item > p {
    margin: 5% 10%;
  }
}

/* extra extra large devices 1400px */
@media screen and (min-width: 1400px) {
  /* makes all the cards the same height */
  #common-issues .card-body {
    height: 195px;
  }
}
