:root {
  --Background: #f0f4f8; /*(Very Light Blue-Gray) */
  --Primary: #3f88c5; /* (Sky Blue) */
  --Accent: #3f5767; /* (Darker Blue) */
  --Text: #333333; /*(Dark Gray) */
  --Highlight: #e6f2f8; /* (Very Light Aqua) */
  --Body-font: "Quicksand", sans-serif; /* (Modern Sans-Serif) */
  --Header-font: "Karla", sans-serif; /* (Bold Sans-Serif) */
  --margin-size: 2rem; /* (Consistent Margin Size) */
}

/*  general styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Background);
  color: var(--Text);
  font-family: var(--Body-font);
}

h1,
h2,
h3 {
  font-family: var(--Header-font);
  color: var(--Primary);
}

/* Nav bar */

.navbar {
  background-color: var(--Accent);
}

.nav-link,
.navbar-brand,
.navbar-toggler {
  color: var(--Highlight);
}

.active {
  color: var(--Highlight) !important;
  font-weight: bold;
}

/* header */

header {
  position: relative;
  text-align: center;
  margin-bottom: var(--margin-size);
}

header h1,
header h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 2;
}
header h1 {
  top: 35%;
  font-size: 2.5rem;
}
header h2 {
  top: 55%;
}

/* Main  */

.section-heading {
  margin-bottom: var(--margin-size);
}

/* common issues section*/

/* media */

@media (max-width: 600px) {
  header h1 {
    top: 25%;
    font-size: 1.5rem;
    padding: 0 0.5rem;
  }
  header h2 {
    top: 45%;
    font-size: 1rem;
    padding: 0 0.5rem;
  }
}
